#oralvita-br-art-root .s2eee2daf{min-height: 100vh;}
#oralvita-br-art-root .sba30f188{display: flex; flex-direction: column;}
#oralvita-br-art-root .s259cf2fb{width: 75%;}
#oralvita-br-art-root .s1ebc929a{color: rgb(37, 42, 50); margin: 0px;}
#oralvita-br-art-root .se4daa04c{color: rgb(67, 104, 224); margin: 0px;}
#oralvita-br-art-root .sd2edd980{color: rgb(220, 44, 44); margin: 0px;}
#oralvita-br-art-root .s5077e1ea{color: rgb(59, 89, 152); margin: 0px;}
#oralvita-br-art-root .s14c285e5{font-size: 15px; color: rgb(59, 89, 152); margin: 0px;}
#oralvita-br-art-root .s465ec708{font-size: 15px; color: rgb(127, 127, 127); margin: 0px;}
#oralvita-br-art-root .se66cdd81{color: rgb(127, 127, 127); margin: 0px;}
#oralvita-br-art-root .s80f0b487{font-size: 15px; color: rgb(99, 106, 123); margin: 0px;}
#oralvita-br-art-root .s38382c5f{width: 25%;}
#oralvita-br-art-root .s93488604{position: sticky; z-index: 10; top: 0px;}
#oralvita-br-art-root .s78e08622{color: rgb(245, 166, 35);}
#oralvita-br-art-root .s866f87a1{font-size: 28px; background-color: transparent; margin: 0px;}
#oralvita-br-art-root .s11517999{width: 50%;}
#oralvita-br-art-root .s69d66e5b{width: 100%;}
