#oralvita-pl-art-root .is1{min-height: 100vh;}
#oralvita-pl-art-root .is2{display: flex; flex-direction: column;}
#oralvita-pl-art-root .is3{width: 33.3333%;}
#oralvita-pl-art-root .is4{width: 100%;}
#oralvita-pl-art-root .is5{width: 75%;}
#oralvita-pl-art-root .is6{color: rgb(37, 42, 50); margin: 0px;}
#oralvita-pl-art-root .is7{color: rgb(67, 104, 224); margin: 0px;}
#oralvita-pl-art-root .is8{color: rgb(220, 44, 44); margin: 0px;}
#oralvita-pl-art-root .is9{color: rgb(59, 89, 152); margin: 0px;}
#oralvita-pl-art-root .is10{font-size: 15px; color: rgb(59, 89, 152); margin: 0px;}
#oralvita-pl-art-root .is11{font-size: 15px; color: rgb(127, 127, 127); margin: 0px;}
#oralvita-pl-art-root .is12{color: rgb(127, 127, 127); margin: 0px;}
#oralvita-pl-art-root .is13{font-size: 15px; color: rgb(99, 106, 123); margin: 0px;}
#oralvita-pl-art-root .is14{width: 25%;}
#oralvita-pl-art-root .is15{position: sticky; z-index: 10; top: 0px;}
#oralvita-pl-art-root .is16{color: rgb(245, 166, 35);}
#oralvita-pl-art-root .is17{font-size: 28px; background-color: transparent; margin: 0px;}
#oralvita-pl-art-root .is18{width: 50%;}
