#oralvita-pl-sp-root .s2eee2daf{min-height: 100vh;}
#oralvita-pl-sp-root .sba30f188{display: flex; flex-direction: column;}
#oralvita-pl-sp-root .s69d66e5b{width: 100%;}
#oralvita-pl-sp-root .s26cef2c5{text-align: left;}
#oralvita-pl-sp-root .s1ebc929a{color: rgb(37, 42, 50); margin: 0px;}
#oralvita-pl-sp-root .sa2748fd7{margin: 0px;}
#oralvita-pl-sp-root .s9c70dc7a{font-size: 18px; color: rgb(166, 166, 166); margin: 0px;}
#oralvita-pl-sp-root .scd15d17c{font-size: 20px; color: rgba(0, 0, 0, 0.19); margin: 0px;}
#oralvita-pl-sp-root .sb84285b8{color: rgb(208, 2, 27); margin: 0px;}
#oralvita-pl-sp-root .s5077e1ea{color: rgb(59, 89, 152); margin: 0px;}
#oralvita-pl-sp-root .sd427eb1c{color: rgba(101, 103, 107, 0.94); margin: 0px;}
#oralvita-pl-sp-root .s0ffca203{font-size: 12px; color: rgb(101, 103, 107); margin: 0px;}
#oralvita-pl-sp-root .s3adff26c{color: rgb(255, 0, 0);}
#oralvita-pl-sp-root .s9ee6cc80{background-color: rgba(0, 0, 0, 0);}
#oralvita-pl-sp-root .s72a68ac3{text-align: center;}
#oralvita-pl-sp-root .s84330cd5{font-size: 12px; margin: 0px;}
#oralvita-pl-sp-root .s1cbf1ce5{color: rgb(182, 182, 182); font-size: 8px;}
