#oralvita-pl-sp-root .is1{min-height: 100vh;}
#oralvita-pl-sp-root .is2{display: flex; flex-direction: column;}
#oralvita-pl-sp-root .is3{width: 100%;}
#oralvita-pl-sp-root .is4{text-align: left;}
#oralvita-pl-sp-root .is5{color: rgb(37, 42, 50); margin: 0px;}
#oralvita-pl-sp-root .is6{margin: 0px;}
#oralvita-pl-sp-root .is7{color: rgb(59, 89, 152); margin: 0px;}
#oralvita-pl-sp-root .is8{color: rgba(101, 103, 107, 0.94); margin: 0px;}
#oralvita-pl-sp-root .is9{font-size: 12px; color: rgb(101, 103, 107); margin: 0px;}
#oralvita-pl-sp-root .is10{color: rgb(255, 0, 0);}
#oralvita-pl-sp-root .is11{background-color: rgba(0, 0, 0, 0);}
#oralvita-pl-sp-root .is12{text-align: center;}
#oralvita-pl-sp-root .is13{font-size: 12px; margin: 0px;}
#oralvita-pl-sp-root .is14{color: rgb(182, 182, 182); font-size: 8px;}
